{# Plantilla de la aplicacion #}
{% extends 'base.html.twig' %} 
{# TITULO #}
{% block titulo %}
    Encuestas Autoevaluacion
{% endblock %}
{# CONTENIDO #}
{% block contenido %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Encuestas Autoevaluacion</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!--Aqui debe ir un FOR que traiga el nombre de cada encuesta dependiendo
                    dependiendo del score que actua como ID de la encuesta -->
                <div class="col-md-3">
                    <a type="button" class="btn btn-primary" href="{{path('perfil', {'score':'1'})}}"><i class="fa fa-th-list "></i> Nombre de la encuesta</a>
                </div>
                <div class="col-md-3">
                    <a type="button" class="btn btn-primary" href="{{path('perfil', {'score':'2'})}}"><i class="fa fa-th-list "></i> Nombre de la encuesta</a>
                    </div>
                <div class="col-md-3">
                    <a type="button" class="btn btn-primary" href="{{path('perfil', {'score':'3'})}}"><i class="fa fa-th-list "></i> Nombre de la encuesta</a>
                </div>
                <div class="col-md-3">
                    <a type="button" class="btn btn-primary" href="{{path('perfil', {'score':'0'})}}"><i class="fa fa-th-list "></i> Nombre de la encuesta</a>
                </div>
            </div>
            <!-- /.row -->
{% endblock %}