{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/servicioForm.html.twig' %}
{# Titulo #}
{% block titulo %}
Registro Usuario
{% endblock %}
{% block contenido %}
{# Contenido #}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Registro</h1>
        </div>
    </div>
    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form)}}
            {{ form_widget(form)}}
            {{ form_end(form)}}
            <a href="{{ path('verusuarios') }}" class="btn btn-warning" type="button" >Cancelar</a>
        </div>
        <div class="col-lg-6">
            <h2>Tener en cuenta</h2>
            <p>Los roles tienen jerarquía, los roles superiores tienen permisos de los roles inferiores, pero no viceversa:</p>
            <p>|_ <b>Administrador</b></p>
            <p>|_ _ _ Coordinador de Programa</p>
            <p>|_ _ _ Coordinador de Autoevaluacion</p>
            <p>|_ _ _ Monitor</p>
            <p>|_ _ _ _ _ Profesor</p>
            <p>|_ _ _ _ _ Egresado</p>
            <p>|_ _ _ _ _ Estudiante</p>
            <p>|_ _ _ _ _ _ _ Empleado</p>
        </div>
    <!-- /.row -->
    </div>
</div>
{% endblock %}