{% extends 'base.html.twig' %}

{% block titulo %}
    Indicadores
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Indicadores</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table width="100%" id="indicador_table" role="grid" class="table table-bordered dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {% for indicador in indicadors %}
                    <tr>
                        <td><a href="{{ path('indicador_show', { 'id': indicador.id }) }}">{{ indicador.id }}</a></td>
                        <td>{{ indicador.nombre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#indicador_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "responsive": true
        });
    } );
</script>
{% endblock %}