{% extends 'base.html.twig' %}
{% form_theme edit_form 'form/itemForm.html.twig' %}

{% block titulo %}
    Nuevo Recurso
{% endblock %}

{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nuevo Recurso</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-success" type="submit" value="Crear" />
                <a class="btn btn-warning" href="{{ path('indicador_show',{'id': indicador}) }}">Cancelar</a>
            {{ form_end(edit_form) }}
        </div>
    </div>
</div>
{% endblock %}