{% extends 'base.html.twig' %}
{% form_theme form 'form/itemForm.html.twig' %}
{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header mt-4 mb-3">Nuevo Modelo</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Guardar" />
                    <a class="btn btn-warning" href="{{ path('modelo_index') }}">Atras</a>
                {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
