{% extends 'base.html.twig' %}

{% block contenido %}
<div id="page-wrapper">
        <div class="row">
    <h1>Modelo creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('modelo_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
